<html lang="en" ng-app="bsigala" id="ng-app">
<head>
<title>BSI Gala Tickets</title>
<link href="/style.css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="/paypal-button.js?merchant=tim@dierks.org"></script>
<script src="bsigala.js"></script>
</head>
<body ng-controller="BsiGalaCtrl">
<form name="orderForm">
<h1>GALA TICKETS &amp; GALA PROGRAM SALES 2014</h1>
<div class="section">
  <h2>First, choose your child's classroom:</h2>
  <span ng-repeat="c in allrooms" ng-hide="selected.classroom && selected.classroom.room != c">
    <a class="choose" ng-click="chooseClassroom(c)">{{formatRoom(c)}}</a>
  </span>
  <span ng-hide="selected.classroom && selected.classroom != NONE"><a class="choose" ng-click="noClassroom()">I am a friend of BSI</a></span>
  <a class="dismiss" ng-click="chooseClassroom(null)" ng-show="selected.classroom">&times;</a>
</div>
<div class="section" ng-show="selected.classroom && selected.classroom != NONE">
  <h2>Second, pick your family:</h2>
  <span ng-repeat="p in selected.classroom.parents" ng-hide="order.family && order.family != p">
    <a class="choose" ng-click="chooseFamily(p)">Family of {{p}}</a>
  </span>
  <a class="dismiss" ng-click="chooseFamily(null)" ng-show="order.family">&times;</a>
</div>
<div class="section" ng-show="selected.classroom == NONE">
  <h2>Second, enter your name:</h2>
  <input type="text" ng-model="order.family" name="enteredName" size=50 required>
  <span class="error" ng-show="orderForm.enteredName.$error.required">Please enter your name</span>
</div>
<div class="section" ng-show="order.family">
  <h2>Third, your order:</h2>
  <div>
    <h3>Gala Tickets</h3>
    <select ng-model="order.tickets" ng-options="n for n in [0, 1, 2, 3, 4, 5, 6, 7, 8]"></select>
    Gala tickets (${{order.ticketPrice}} each&mdash;After June 8th, they will go up to $80)
  </div>
  <div ng-show="order.tickets > 0">
    <h3>Bidding Paddles</h3>
    <div>
      Each auction bidder needs to be registered for a paddle.<br>
      Please enter the first and last name of the bidders for each paddle you want (up to {{order.tickets}}).
    </div>
    <div ng-repeat="p in getBiddingPaddles()" ng-form="paddle">
      Paddle {{$index+1}} bidder: <input type="text" name="name" ng-model="p.name" required size=50>
      <a class="dismiss" ng-click="removeBiddingPaddle($index)" ng-show="$index > 0">&times;</a>
      <span class="error" ng-show="paddle.name.$error.required">Please enter the bidder's name</span>
    </div>
    <div ng-show="getBiddingPaddles().length < order.tickets">
      <button ng-click="addBiddingPaddle()">Add a paddle</button>
    </div>
  </div>
  <div>
    <h4>TA gala ticket fund</h4>
    <div>
      By making a contribution, you can help pay for teacher's assistants to come to the gala;
      make it possible for these people who contribute to our kids' classrooms and help our teachers
      to celebrate with us.<br>
      <input type="text" size=5 ng-model="order.taFundGift"></input>
    </div>
  </div>
  <!-- for buyers with classrooms -->
  <div ng-show="familyGiftingClassrooms(order.family).length">
    <h3>Class pages</h3>
    <div>By supporting class pages, you will contribute to your
    child's class having a page in the gala program. Any contribution is welcome;
    each class is trying to collect $500 for their class's ad.
    </div>
    <div>
      Support the class pages for:
      <div ng-repeat="c in familyGiftingClassrooms(order.family)">
        <label>Class {{formatRoom(c)}}: $<input size=5 type="text" ng-model="order.classPages[c]"></input></label>
      </div>
    </div>
  </div>
  <div>
    <h3>Gala Program Purchases</h3>
    <div>The deadline for program purchases has passed.</div>
<!-- 
    <h4>Appreciations</h4>
    <div><b>Due May 30th at 11:59 PM! They turn into a pumpkin and go to the printers then, don't get left out.</b></div>
    <div>Appreciations (${{order.appreciationPrice}} each) are a chance for you to include
    a message in the gala program.
    </div>
    <div>
      Offer an appreciation for the following classes:
      <div ng-repeat="c in order.appreciationClasses" ng-form="appForm">
        <input type=checkbox ng-model="appreciationForClass(c).purchase">Class {{formatRoom(c)}}:
        <input type=text name="msg" ng-model="appreciationForClass(c).message" ng-change="appreciationForClass(c).purchase = true" size=90 ng-required="appreciationForClass(c).purchase" ng-maxlength="90"><br>
        <span ng-show="appreciationForClass(c).purchase">
          <span ng-show="appreciationForClass(c).message && appForm.msg.$valid">
            {{90 - appreciationForClass(c).message.length}} characters remaining
          </span>
          <span class="error" ng-show="appForm.msg.$error.required">Please enter an appreciation</span>
          <span class="error" ng-show="appForm.msg.$error.maxlength">90 characters max</span>
        </span>
      </div>
      <div>
        Add a room:
        <select ng-model="selected.appreciationRoomToAdd" ng-options="formatRoom(c) for c in unusedRooms(order.appreciationClasses)"></select>
        <button ng-click="addAppreciationRoom()" ng-disabled="!selected.appreciationRoomToAdd">Add</button>
      </div>
    </div>
    <h4>Gala Program Ads</h4>
    <div>Share your message with the BSI community. To submit artwork for your purchased ad, please write to <a href="mailto:bsigalaprogram2014@gmail.com">bsigalaprogram2014@gmail.com</a>.<b>Due May 30th at 11:59 PM!</b>
      <div>Full Page: $500 <span class="detail">4.875" &times; 7.875"<span class="detail">: <select ng-model="order.ads.full" ng-options="n for n in [0, 1, 2, 3, 4]"></select></div>
      <div>Half Page: $250 <span class="detail">4.875" &times; 3.875"<span class="detail">: <select ng-model="order.ads.half" ng-options="n for n in [0, 1, 2, 3, 4]"></select></div>
      <div>Quarter Page: $125 <span class="detail">2.375" &times; 3.875"<span class="detail">: <select ng-model="order.ads.quarter" ng-options="n for n in [0, 1, 2, 3, 4]"></select></div>
      <div>Eighth Page: $75 <span class="detail">4.875" &times; 1.875"<span class="detail">: <select ng-model="order.ads.eighth" ng-options="n for n in [0, 1, 2, 3, 4]"></select></div>
    </div>
 -->
  </div>
</div>
<div class="section">
  <h2>Your order</h2>
  <div ng-hide="totalPrices().total">
    <i>Nothing yet</i>
  </div>
  <div ng-show="order.tickets">
    {{order.tickets}} Gala tickets: {{totalPrices().tickets | currency:$}}
  </div>
  <div ng-show="totalPrices().taFundGift">
    TA fund contribution: {{ order.taFundGift | currency:$ }}
  </div>
  <div ng-show="orderedClassPages().length">
    Support room pages: {{totalPrices().classPages | currency:$}}
    <div ng-repeat="classroom in orderedClassPages()">
      Class {{formatRoom(classroom)}}: {{order.classPages[classroom] | currency: $}}
    </div>
  </div>
  <div ng-show="orderedAppreciations().length">
    Appreciations: {{totalPrices().appreciations | currency:$}}
    <div ng-repeat="classroom in orderedAppreciations()">
      Class {{formatRoom(classroom)}}: "{{appreciationForClass(classroom).message}}"
    </div>
  </div>
  <div ng-show="totalPrices().ads.total">
    Ads: {{totalPrices().ads.total | currency:$}}
    <div ng-show="totalPrices().ads.full">Full Page: {{ totalPrices().ads.full | currency:$ }}</div>
    <div ng-show="totalPrices().ads.half">Half Page: {{ totalPrices().ads.half | currency:$ }}</div>
    <div ng-show="totalPrices().ads.quarter">Quarter Page: {{ totalPrices().ads.quarter | currency:$ }}</div>
    <div ng-show="totalPrices().ads.eighth">Eighth Page: {{ totalPrices().ads.eighth | currency:$ }}</div>
  </div>
  <div ng-show="totalPrices().total">
    Total: {{totalPrices().total | currency:$}}
    <div ng-show="orderForm.$valid">
      <buy-button order="order"></buy-button>
    </div>
    <div class="error" ng-hide="orderForm.$valid">
      Fix problems above before purchasing.
    </div>
  </div>
</div>
Questions about gala purchases? Write <a href="mailto:bsigalaprogram2014@gmail.com">bsigalaprogram2014@gmail.com</a>
</form>
</body>
</html>