a {
  cursor: pointer;
}

body {
  background-color: white;
  margin: 20px;
  font-family: sans-serif; 
}

h1 {
  font-size: 28pt;
  color: #277A4D;
  background-image: url(top-logo.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 105px;
  text-align: center;
}

h2 {
  font-size: 22px;
  margin: 0px;
  margin-bottom: 8px;
  margin-top: 12px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  padding-left: 10px;
  margin-bottom: 0.7em;
}

.topinfo div {
  padding: 10px;
}

.info {
  text-align: center;
  margin-top: 0.7em;
}

.section {
  background-color: #67C2E6;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
}

.section div {
  padding-left: 10px;
  margin-top: 8px;
}

.choose {
  display: inline-block;
  background-color: #88E0CE;
  border-radius: 3px;
  margin: 2px;
  padding: 3px;
}

.error {
  color: red;
  font-style: italic;
}

.dismiss {
  
}

.detail {
  font-size: smaller;
}

.drop-box {
  height: 100px;
  width: 300px;
  text-align: center;
  line-height: 100px;
  background-color: #ddd;
  font-size: 30px;
}

.dragover {
  font-weight: bold;
  background-color: #aaa;
}